.container{

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    padding: 10px 10px 0px 10px ;
    position: relative;
    flex-wrap: wrap;
    
    width: 100%;
    
    
}
.min_height{
    min-height: 76.1vh;
}
.start{
    justify-content: flex-start;
}
.column{
    flex-direction: column;
    justify-content: flex-start;

}
.img{
    
    width: 100%;
    
}
