.navbar{
    background-color:#222222;
    color: aliceblue;
    padding-top:10px;
    position: relative;
    justify-content: space-between;
   
}
.logouts{
   background-color: red; 
}
.list{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.item{
    margin-right:3em;
    
    
}
.item a{
    color: #fff;
    text-decoration: none ;
}
.item a:hover{
    color: rgb(155, 243, 155);
    cursor: pointer;
}

/**/

    
    
    
    
   
    
   


