
/********************************************************************************
*** inicio configuração div cabeçalho despesas ... ******************************
*********************************************************************************
*/
.cabecalho{
    width: 100%;
    text-align: center;
    font-size: clamp( 0.5rem, 1.5vw + 0.1rem, 1rem)
}

/********************************************************************************
****** fim configuração div cabeçalho despesas ... ******************************
*********************************************************************************
*/



/********************************************************************************
*** inicio configuração div que possui tabela despesas ... **********************
*********************************************************************************
*/
.conteudo_div_tabela{
    background-color: rgb(116, 116, 238);
    width: 65%;
    border-radius: 7px;
    border: solid 1px black;
    
}
caption > h1{
    
    border-bottom: 1px solid;
    font-size: clamp( 1rem, 1.5vw + 0.1rem, 2rem);
    
}




/********************************************************************************
*** inicio configuração tabela despesas ... *************************************
*********************************************************************************
*/
table{
    width:100%;
    font-size: clamp(0.5rem, 1vw + 0.1rem, 1.5rem)
}
td,th{
    width: 33.33%;
    font-size: clamp( 0.5rem, 1.5vw + 0.1rem, 1rem);
    
    padding-left: 10px;
    padding-right: 10px;
}
.colun_sifrao{
   width: auto;
}
.colun_center{
    text-align: center;
}
/********************************************************************************
****** fim configuração tabela despesas ... *************************************
*********************************************************************************
*/




