.CadRecPasswordCliente{
    width: 550px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    margin:50px auto  auto;
    padding:2em;
    background-color: rgba(34, 34, 34, 0.055);
    position: relative;

}
.CadRecPasswordCliente >a > img{
    position: absolute;
    right: 0.7em;
    top: 0.7em;
    width: 22px;
    height: 19px;
    transition: 0.5s
}

.CadRecPasswordCliente >a > img:hover{
    width: 24px;
    height: 21px;
    cursor: pointer;
}
.alert{
    background-color:white;
    border: solid red 2px;
    width: 550px;
    height: 200px;
    border-radius: 7px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
   
}
.container_msg{
    margin-top: 70px;
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
}
.container_msg > img{
    width: 60px;
    height: 60px;
}
/*
.alert > img{
    position: relative;
    right: 0.7em;
    top: 0.7em;
    width: 22px;
    height: 19px;
    transition: 0.5s
}
.alert > img:hover{
    width: 24px;
    height: 21px;
    cursor: pointer;
}
.alert > .container_msg> img {
    
    width: 70px;
    height: 70px;
        
}
.alert > .container_msg {
    display: flex;
    align-items: center;
    position: relative;
    top:50%;
    left:50px;
    margin-right: 50px;
    transform: translateY(-50%);
}
.alert > .container_msg > p{
    margin-left: 10px;
    
}
*/